.light {
    background-color: #e4bf7f;
}

.dark {
    background-color: #755c30;
}

.square {
    display: inline-block;
    height: 100%;
    width: 12.5%;
}

.row {
    display: flex;
    height: 12.5%;
}